{% extends 'base.html.twig' %}


{% block title %}
Liste des personnes !
{% endblock %}

{% block body %}

  {% for message in app.session.flashBag.get('info') %}
    <div class="alert alert-info">
    {{ message }}
    </div>
  {% endfor %}

    {% for message in app.session.flashBag.get('succès') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
  {% endfor %}

    {% for message in app.session.flashBag.get('erreur') %}
    <div class="alert alert-danger">
    {{ message }}
    </div>
  {% endfor %}

<div class="row">
{% for personne in personnes %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
           <h5 class="card-title">{{personne.firstname}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{personne.name}}</h6>
            <p class="card-text">Age : {{personne.age}}</p>
            <a href="{{ path('personne.detail', {id: personne.id}) }}" class="card-link">Détails</a>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
